/* CABEÇALHO */

.cabecalho__container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: fixed; /* Menu fixo no topo  */
  top: 0; /* Coordenada para ficar fixo  */
}

.cabecalho__pesquisar__item {
  display: none; /* Esconde o item de pesquisa  */
}

/* SUPERIOR SEÇÃO */

.superior__secao__container {
  display: flex;
  align-items: center;
  white-space: nowrap; /* Não deixa quebra de linha do texto dos itens  */
  overflow: scroll; /* Adiciona barra de rolagem  */
  gap: 15px; /* Espaçamento entre os itens  */

  


}

/* RODAPÉ */

.rodape__container {
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap;  As duas propriedades escrito de forma resumido embaixo*/
  flex-flow: column wrap;
}

@media (min-width: 834px) {
  /* CABEÇALHO */
  
  .cabecalho__pesquisar__item {
    display: block; /* Exibe o item de pesquisa  */
  }

    /* RODAPÉ */

    .rodape__container {
      justify-content: space-between;
    }
}

